@{
    ViewData["Title"] = "About ";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center display-2 font-weight-bold mb-5 animate__animated animate__fadeIn">About</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Our Mission:</h2>
            <p class="lead">At NEMESYS, our mission is to promote safety and prevent accidents on campus by providing a platform for reporting near misses. We believe that by identifying potential hazards and taking proactive measures, we can create a safer environment for everyone at the University of Mars.</p>
            <p class="lead">Through NEMESYS, students and staff have the opportunity to contribute to the improvement of Health and Safety conditions on campus. By reporting near misses, they play a vital role in alerting administrative bodies to potential dangers, allowing for timely intervention and necessary actions to be taken.</p>
            <p class="lead">We are committed to fostering a culture of safety awareness and accountability within the university community. By encouraging reporting and collaboration between reporters and investigators, we aim to continuously enhance the overall safety standards on campus.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="mb-4">Roles of Reporters:</h2>
            <p class="lead">Reporters are the frontline contributors to NEMESYS, responsible for identifying and reporting near misses on and around campus. Their observations and reports serve as crucial inputs for improving safety conditions.</p>
            <ul class="list-group">
                <li class="list-group-item dark-grey-text">Create near miss reports detailing the hazard, location, date, and time of the incident.</li>
                <li class="list-group-item dark-grey-text">Provide a comprehensive description of the near miss, including relevant details such as type of hazard and any accompanying photos.</li>
                <li class="list-group-item dark-grey-text">Edit or delete their own reports as needed.</li>
                <li class="list-group-item dark-grey-text">Browse all near-miss entries, including those created by others, and upvote reports that they find significant.</li>
                <li class="list-group-item dark-grey-text">Play an active role in promoting safety by actively participating in the reporting process.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Roles of Investigators:</h2>
            <p class="lead">Investigators play a critical role in reviewing and addressing the near miss reports submitted by reporters. They are tasked with conducting investigations, adding investigation entries to reports, and ultimately closing the cases.</p>
            <ul class="list-group">
                <li class="list-group-item dark-grey-text">Review near miss reports submitted by reporters.</li>
                <li class="list-group-item dark-grey-text">Conduct thorough investigations into reported incidents, including gathering additional information if necessary.</li>
                <li class="list-group-item dark-grey-text">Add investigation entries to reports, detailing the actions taken and any findings.</li>
                <li class="list-group-item dark-grey-text">Change the status of reports to reflect the progress of investigations (e.g., closed, being investigated, or no action required).</li>
                <li class="list-group-item dark-grey-text">Collaborate with reporters to ensure that all reported near misses are appropriately addressed and resolved.</li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">A user can either be a reporter, an investigator, or both!</p>
                <p class="lead text-cente">By participating as both a reporter and an investigator, individuals contribute to the entire process of identifying, reporting, investigating, and resolving near misses, thus playing a comprehensive role in enhancing safety standards on campus.</p>
            </div>
        </div>
        <div class="text-center">
            <a href="/Identity/Account/Register" class="btn btn-primary">Back to Register</a>
        </div>

</div>
