@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Register";
}

<div class="container" style="max-width: 20rem; margin-top: 2.5rem; margin-bottom: 2.5rem;">
    <h2 class="display-5 text-center font-weight-bold mb-4">Register</h2>
    <div class="card bg-secondary p-4 shadow">
        <form id="registerForm" action="/Account/Signup" method="post">
            <div class="form-group">
                <label for="name-and-surname" class="text-light font-weight-bold">Name and Surname</label>
                <input type="text" class="form-control" id="name-and-surname" name="profile.Name" placeholder="Name and Surname" required>
            </div>
            <div class="form-group">
                <label for="email" class="text-light font-weight-bold">Email</label>
                <input type="email" class="form-control" id="email" name="profile.Email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="password" class="text-light font-weight-bold">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password" class="text-light font-weight-bold">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" required>
            </div>
            <div class="text-danger" id="passwordMismatch" style="display:none;">Passwords do not match.</div>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success" id="registerButton">Register</button>
            </div>
        </form>
    </div>
</div>

<script>
    document.getElementById("registerForm").addEventListener("submit", function(event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;

        if (password !== confirmPassword) {
            event.preventDefault();
            document.getElementById("passwordMismatch").style.display = "block";
        }
    });
</script>
