@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sign In";
}

<div class="container" style="max-width: 20rem; margin-top: 5rem; margin-bottom: 5rem;">
    <h2 class="display-5 font-weight-bold mb-4 text-center">Sign In</h2>
    <div class="card bg-secondary p-4 shadow">
        <form action="/login" method="post">
            <div class="form-group mb-4">
                <label for="email" class="font-weight-bold text-light">Email</label>
                <input type="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group mb-4">
                <label for="password" class="font-weight-bold text-light">Password</label>
                <input type="password" id="password" class="form-control" placeholder="********">
            </div>
            <div class="form-group mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="rememberMe">
                    <label class="custom-control-label text-light" for="rememberMe">Remember me</label>
                </div>
            </div>
            <input type="hidden" name="returnUrl" value="/home/myreports" />
            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-success">Sign In</button>
                <!-- Register option -->
                <a asp-controller="Home" asp-action="Register" class="text-primary">Register</a>
            </div>
        </form>
    </div>
</div>
