@page
@model Nemesys.Views.Errors._404Model
@{

}

<div class="text-center">
    <h1 class="display-3">Oops, looks like that incident's been closed!</h1>
    <p class="lead mt-4" style="font-size: 1.5em;">404 Error - Not Found</p>
    <a href="@Url.Action("Privacy", "Home")" class="btn btn-primary btn-lg mt-4">Go back Home</a>
</div>
