@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Go Back Home</a>

